@import "tailwindcss";
:root {
  --accent: 136, 58, 234;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --accent-gradient-red: linear-gradient(
    90deg,
    #806eff 12%,
    #ff00ff 30%,
    #811976 60%,
    #d52020 100%
  );
}
html {
  font-family: system-ui, sans-serif;
  background: #13151a;
}
code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}
