---
import Loading from "@components/Loading.astro";
import Logo from "../components/Logo.astro";
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title={"coming soon"}>
  <main class="my-10 flex flex-col items-center px-4 text-center lg:mt-8">
    <Logo height={250} width={250} />
    <div class="my-10 flex flex-col items-center">
      <Loading />
    </div>
    <h1
      class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 bg-clip-text text-5xl leading-[4rem] font-extrabold text-transparent"
    >
      Coming Soon
    </h1>
    <p class="mt-4 text-lg text-gray-400">
      We're forging something powerful. Stay tuned.
    </p>
  </main>
</BaseLayout>
