---
import Loading from "@components/Loading.astro";
import Logo from "../components/Logo.astro";
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title={"coming soon"}>
  <main class="flex flex-col items-center text-center px-4 my-10 lg:mt-8">
    <Logo height={250} width={250} />
    <div class="my-10 flex flex-col items-center">
      <Loading />
    </div>
    <h1
      class="text-5xl leading-[4rem] font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-purple-400 via-pink-500 to-red-500"
    >
      Coming Soon
    </h1>
    <p class="text-lg mt-4 text-gray-400">
      We're forging something powerful. Stay tuned.
    </p>
  </main>
</BaseLayout>
