---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import WorkExperience from '../components/WorkExperience.astro';
import HomeAvatar from '../components/HomeAvatar.astro';
import experience from '../data/expirence.json';
import avatar from '/public/avatar.png';
import Navbar from '../components/Navbar.astro';
import ContactButton from '../components/ContactButton.astro';



---

<Layout title="Welcome to Astro.">
  <Navbar />
  <main>

    <section class="w-full gap-5 flex flex-col justify-center items-center md:px-10  mb-12">
      <HomeAvatar image={"/avatar.png"} />
      <div class="font-poppins flex flex-col items-center justify-center">
        <span class="text-6xl text-center font-bold w-full">The Software Smith!</span>
        <span class="text-2xl text-center font-semibold w-full">I Can <span class="text-gradient-red">Build Anything</span>.</span>
        <span class="text-sm px-5 py-2">
          Passionate Software Engineer with a focus on Web Development,
          dedicated to crafting elegant and user-friendly web applications and websites.
        </span>
        <ContactButton />
      
      </div>
    </section>
    <section class="flex flex-col items-center justify-center gap-5">

    <h2 class="text-6xl">Work <span class="text-gradient-blue">Experience</span>.</h2>
    <div class="flex flex-col gap-5 items-center justify-center">
      
        {
          experience.map((experience) => (
            <WorkExperience
              title={experience.title}
              description={experience.description}
              startDate={experience.startDate}
              endDate={experience.endDate} />
          ))
        }
      
      
    </div>
    </section>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient-blue {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
  }

  .text-gradient-red{
    background-image: var(--accent-gradient-red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;

  }
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
