---
import Logo from "./Logo.astro";


---


<nav class="flex gap-5 items-center justify-between  px-10 my-5">
  <a href="/" class="w-14">
    <Logo height={100} width={100} />
  </a>
  <ul class="flex gap-5 items-center justify-between text-white">
    
    <li class="px-4 py-2">
      <a href="#contact">Contact Me</a>
    </li>
    <li class="px-4 py-2">
      <a href="#about">About</a>
    </li>
  </ul>
</nav>
