---
interface Props {
  title: string;
}
import "../styles/global.css";
import { Font } from "astro:assets";
import BlueprintBackground from "../components/BlueprintBackground.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-poppins" />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo-dark.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <BlueprintBackground />
    <slot />
    <Footer />
  </body>
</html>
